
*{
    box-sizing:border-box;
}
.body{
    margin:0px;
}
.admin-back{
 background-image:url("https://img.freepik.com/free-photo/office-supplies-keyboard-coffee-cup-card-eyeglasses-candle-headphone-blue-background_23-2148041892.jpg?ga=GA1.1.1910768974.1722428793&semt=ais_hybrid");
background-size:cover;
height:100vh;
display:flex;
flex-direction:column;
justify-content: center;

}
.admin-login{
background-image:url("https://img.freepik.com/free-photo/blue-user-icon-symbol-website-admin-social-login-element-concept-white-background-3d-rendering_56104-1217.jpg?ga=GA1.1.1910768974.1722428793&semt=ais_hybrid");
background-size:cover;
padding:20px;
border-radius: 10px;

}
.admin-form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.input_username{
    width:100%;
    padding:10px;
    border:0px;
    border-radius:10px;
}
.username{
    color:darkgrey;
    font-family:"Open Sans";
    font-size:20px;
    font-weight:600;
}
.admin-button{
    background-color:transparent;
    width:120px;
    height:40px;
    border:2px solid black;
    border-radius:10px;
    text-align:center;
    font-family:"Open Sans";
    font-weight:600;
}
.admin-heading{
    color:blue;
    font-family:"Open Sans";
    font-size: 30px;
    font-weight:600;
    text-align:center;
}